<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>


<main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
      </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6">
        <h2 class="display-5">Aileen Nicole Alapan, 301108374</h2>
        <img src="./Assets/images/photo.jpg" alt="photo">
        <p>I strive to constantly be the best version of myself, to not be complacent and to always do the thing that will me happy.</p>

        <a href="./Assets/Documents/resume.pdf" alt="Resume" target="_blank">
          <img src="./Assets/Images/resume.png" alt="Resume" height="50" width="50">
          Resume
        </a>

        <hr class="my-4">
      </div>
    </div>
  </main>
<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>