<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>


<main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h3 class="display-4"><%= title %></h3>
      </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6">
        <h2 class="display-5">Aileen Nicole Alapan, 301108374</h2>
        <img src="./Assets/images/photo.jpg" width=200 alt="photo">
        <p>My name is Aileen Nicole Alapan.</p>
        <p>I was born and raised in Quezon City, Philippines.</p>
        <p>My family migrated to Toronto, Ontario, Canada in 2011.</p>
        <p>I have a Bachelor of Science in Nursing degree from the Philippines.</p>

        <a href="./Assets/Documents/resume.pdf" alt="Resume" target="_blank">
          <img src="./Assets/Images/resume.png" alt="Resume" height="50" width="50">
          Resume
        </a>

        <hr class="my-4">
      </div>
    </div>
  </main>
<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>