<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>


  <!-- JUMBOTRON -->
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
      </div>
      </div>
    </div>

    <!--"SERVICES"-->
    <center>
    <div id="ser_box">
          <table>
            <tbody>
              <tr>
                <td ><img src="Assets/Images/html.png" width="120" height="120">HTML </td>
                <td ><img src="Assets/Images/css.png" width="120" height="120"> CSS </td>
                <td ><img src="Assets/Images/javascript.png" width="120" height="120"> JAVASCRIPT</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div id="ser_box">
          <table>
            <tbody>
              <tr>
                <td ><img src="Assets/Images/csharp.png" width="120" height="120"> C#</td>
                <td ><img src="Assets/Images/java.png" width="120" height="120">JAVA</td>
                <td ><img src="Assets/Images/oraclesql.png" width="120" height="120">ORACLE SQL</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div id="ser_box">
          <table>
            <tbody>
              <tr>
                <td ><img src="Assets/Images/node.jpg" width="120" height="120">NODE JS</td>
                <td ><img src="Assets/Images/python.png" width="120" height="120">PYTHON</td>
                <td ><img src="Assets/Images/sas.png" width="120" height="120">SAS</td>
              </tr>
            </tbody>
          </table>
    </div>
    </center>
    </main>





<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>