<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
<main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
      </div>
      </div>
    </div>
    <!--"PROJECTS"-->
    <div class="row">
        <div class="col-md-4">
          <h2>School</h2>
          <img src="Assets/Images/CenCol.png" alt="school" width="150px">
          <p>I am currently enrolled under Health Informatics Technology program of Centennial College in Toronto, Ontario.</p>
        </div>
        <div class="col-md-4">
          <h2>Work</h2>
          <img src="Assets/Images/Starbucks.png" alt="work" width="75px"><br>
          <br><p>I am currently working as a Barista with Starbucks Canada.</p>
        </div>
        <div class="col-md-4">
          <h2>Other</h2>
          <img src="Assets/Images/Chevre.png" alt="Chevre-Animal Crossing" width="60px"><br>
          <br><p>I use my free time to spend with family and friends, to binge watch shows online and to play Animal Crossing.</p>
        </div>
      </div>
  </main>

<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>